h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

p {
    margin: 0;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.note {
    list-style: none;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.note > h2 {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

.input-group {
    display: grid;
    margin-bottom: 1rem;
}

.input-group > label {
    font-size: 1.5rem;
}

.input-group > input {
    padding-block: 0.5rem;
}

.input-group > textarea {
    min-height: 300px;
}
